name: CI API Tests
on:
  pull_request:
    types: ['opened']
    branches: ['main']
jobs:
  tests: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: actions/setup-node@v6.2.0
    - name: Install dependecies
      run: npm ci
    - name: Run api test
      run: npm test